{% extends 'themes/a2/base.html.twig' %}
{% trans_default_domain 'victorina' %}

{% block title %}{{'Quests managment'|trans}}{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('a2admin/sources/css/crudajax/row.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
	Will form
	<div class="u-list">
		<div class="u-list-item border border-bottom-info py-2">
			<div class="u-display-text bg-white border-bottom-dark">
				Где кавалер ордена подвязки - мужчина был обязан носить орден?
			</div>
			<div class="u-actions-bg border-bottom-dark">
				<button class="btn btn-primary my-2 mx-2">
					<img src="/i/e64.png" width="32" height="32">
				</button>
				<button class="btn btn-primary my-2 mx-2">
					<img src="/i/a2-32.png" width="32" height="32">
				</button><button class="btn btn-primary my-2 mx-2">
					<img src="/i/e64.png" width="32" height="32">
				</button>
				<button class="btn btn-primary my-2 mx-2">
					<img src="/i/a2-32.png" width="32" height="32">
				</button>
			</div>
			<div class=" border-bottom-dark">&nbsp;</div>
		</div>

		<div class="u-list-item border border-bottom-info px-2 py-2">
			<div class="u-display-text bg-white border-bottom-dark">
				Где кавалер ордена подвязки - мужчина был обязан носить орден?
			</div>
			<div class="u-actions-bg border-bottom-dark">
				<button class="btn btn-primary my-2 mx-2">
					<img src="/i/e64.png" width="32" height="32">
				</button>
				<button class="btn btn-primary my-2 mx-2">
					<img src="/i/a2-32.png" width="32" height="32">
				</button><button class="btn btn-primary my-2 mx-2">
					<img src="/i/e64.png" width="32" height="32">
				</button>
				<button class="btn btn-primary my-2 mx-2">
					<img src="/i/a2-32.png" width="32" height="32">
				</button>
			</div>
			<div class=" border-bottom-dark">&nbsp;</div>
		</div>

		<div class="u-list-item border border-bottom-info px-2 py-2">
			<div class="u-display-text bg-white border-bottom-dark">
				Где кавалер ордена подвязки - мужчина был обязан носить орден?
			</div>
			<div class="u-actions-bg border-bottom-dark">
				<button class="btn btn-primary my-2 mx-2">
					<img src="/i/e64.png" width="32" height="32">
				</button>
				<button class="btn btn-primary my-2 mx-2">
					<img src="/i/a2-32.png" width="32" height="32">
				</button><button class="btn btn-primary my-2 mx-2">
					<img src="/i/e64.png" width="32" height="32">
				</button>
				<button class="btn btn-primary my-2 mx-2">
					<img src="/i/a2-32.png" width="32" height="32">
				</button>
			</div>
			<div class=" border-bottom-dark">&nbsp;</div>
		</div>

		<div class="u-list-item border border-bottom-info px-2 py-2">
			<div class="u-display-text bg-white border-bottom-dark">
				Где кавалер ордена подвязки - мужчина был обязан носить орден?
			</div>
			<div class="u-actions-bg border-bottom-dark">
				<button class="btn btn-primary my-2 mx-2">
					<img src="/i/e64.png" width="32" height="32">
				</button>
				<button class="btn btn-primary my-2 mx-2">
					<img src="/i/a2-32.png" width="32" height="32">
				</button><button class="btn btn-primary my-2 mx-2">
					<img src="/i/e64.png" width="32" height="32">
				</button>
				<button class="btn btn-primary my-2 mx-2">
					<img src="/i/a2-32.png" width="32" height="32">
				</button>
			</div>
			<div class=" border-bottom-dark">&nbsp;</div>
		</div>

		<div class="u-list-item border border-bottom-info px-2 py-2">
			<div class="u-display-text bg-white border-bottom-dark">
				Где кавалер ордена подвязки - мужчина был обязан носить орден?
			</div>
			<div class="u-actions-bg border-bottom-dark">
				<button class="btn btn-primary my-2 mx-2">
					<img src="/i/e64.png" width="32" height="32">
				</button>
				<button class="btn btn-primary my-2 mx-2">
					<img src="/i/a2-32.png" width="32" height="32">
				</button><button class="btn btn-primary my-2 mx-2">
					<img src="/i/e64.png" width="32" height="32">
				</button>
				<button class="btn btn-primary my-2 mx-2">
					<img src="/i/a2-32.png" width="32" height="32">
				</button>
			</div>
			<div class=" border-bottom-dark">&nbsp;</div>
		</div>

		<div class="u-list-item border border-bottom-info px-2 py-2">
			<div class="u-display-text bg-white border-bottom-dark">
				Где кавалер ордена подвязки - мужчина был обязан носить орден?
			</div>
			<div class="u-actions-bg border-bottom-dark">
				<button class="btn btn-primary my-2 mx-2">
					<img src="/i/e64.png" width="32" height="32">
				</button>
				<button class="btn btn-primary my-2 mx-2">
					<img src="/i/a2-32.png" width="32" height="32">
				</button><button class="btn btn-primary my-2 mx-2">
					<img src="/i/e64.png" width="32" height="32">
				</button>
				<button class="btn btn-primary my-2 mx-2">
					<img src="/i/a2-32.png" width="32" height="32">
				</button>
			</div>
			<div class=" border-bottom-dark">&nbsp;</div>
		</div>

		<div class="u-list-item border border-bottom-info px-2 py-2">
			<div class="u-display-text bg-white border-bottom-dark">
				Где кавалер ордена подвязки - мужчина был обязан носить орден?
			</div>
			<div class="u-actions-bg border-bottom-dark">
				<button class="btn btn-primary my-2 mx-2">
					<img src="/i/e64.png" width="32" height="32">
				</button>
				<button class="btn btn-primary my-2 mx-2">
					<img src="/i/a2-32.png" width="32" height="32">
				</button><button class="btn btn-primary my-2 mx-2">
					<img src="/i/e64.png" width="32" height="32">
				</button>
				<button class="btn btn-primary my-2 mx-2">
					<img src="/i/a2-32.png" width="32" height="32">
				</button>
			</div>
			<div class=" border-bottom-dark">&nbsp;</div>
		</div>
	</div>
	<div class="u-pagination">
		<div class="u-quickgo text-center">
			<button class="btn btn-primary my-2 mx-2">
				<<
			</button>
			<button class="btn btn-primary my-2 mx-2">
				<
			</button><button class="btn btn-primary my-2 mx-2">
				>
			</button>
			<button class="btn btn-primary my-2 mx-2">
				>>
			</button>
		</div>
		<div class="u-numbers text-center">
			<button class="btn btn-primary my-2 mx-2">
				110
			</button>
			<button class="btn btn-primary my-2 mx-2">
				111
			</button><button class="btn btn-danger my-2 mx-2 ">
				112
			</button>
			<button class="btn btn-primary my-2 mx-2">
				113
			</button>
		</div>
	</div>
{% endblock %}




{% block javascripts %}
	<!-- Bootstrap core JavaScript-->
	<script charset="UTF-8" src="/j/sources/landlib/dom/android-browser-2.3.6/micron.js"></script>
	<script charset="UTF-8" src="/j/sources/adminauth/a2/app.js"></script>

{% endblock %}