{% extends 'base.html.twig' %}

{% block title %}New PhdMessages{% endblock %}

{% block body %}
    <h1>Create new PhdMessages</h1>

    {{ include('phd_messages/_form.html.twig') }}

    <a href="{{ path('phd_messages_index') }}">back to list</a>
{% endblock %}
