body {
	padding:0px;
	margin:0px;
	overflow-y:hidden;
	font-family:Liberation Sans, Geneva, Arial;
}

.tr {
	display:flex;
}

table.layout {
	height:100%;
	width:100%;
}
table.layout td {
	vertical-align:top;
}


.content {
	background-color:#FFFFFF;
	overflow:scroll;
	padding-left: 4px;
	float:right;
	width: 75%;
}
.tc {
	text-align:center;
}
.clear {
	clear:both;
}
