body {
	padding:0px;
	margin:0px;
	overflow-y:hidden;
	font-family:Liberation Sans, Geneva, Arial;
}

.tr {
	display:flex;
}

table.layout {
	height:100%;
	width:100%;
}
table.layout td {
	vertical-align:top;
}
.sidebar {
	width:320px;
	background-color:#0B33A6;
	overflow-y:scroll;
	color:white;
	/*! font-weight:bold; */
	border-right: 1px solid blue;
	float:left;
}
.sidebar a{
	color:white;
	
}
.content {
	background-color:#FFFFFF;
	overflow:scroll;
	padding-left: 4px;
	float:right;
	width: 75%;
}
.tc {
	text-align:center;
}
.clear {
	clear:both;
}
