{% extends 'base.html.twig' %}

{% block title %}Заявки на конвертацию{% endblock %}

{% block content %}
<div id="phdapp">

    <phdnotifier ref="phdnotifier"></phdnotifier>

    <button v-on:click="onClickTestNotices" class="btn btn-primary">{{ 'Check browser notifies'|trans }}</button>


    <b4alertdlg id="appAlertDlg" v-bind:params="b4AlertDlgParams"></b4alertdlg>
</div>
{% endblock %}
