{% extends 'themes/a2/base.html.twig' %}
{% block title %}Файлы для модерации{% endblock %}

{% block content %}
<div id="phdapp">
    <script src="/j/sources/landlib/dom/android-browser-2.3.6/micron.js"></script>
    <script src="/portfolio/web/calculators/swagger/j/v/micron2.js"></script>
    <script src="/j/sources/landlib/net/rest.es5.js"></script>
    <script src="/j/sources/landlib/net/rest2.es5.js"></script>
    <script src="/d/drive/a2/j/php.js"></script>
    <script src="/d/drive/pc/j/src/classes/admin/moder.js"></script>
    <link type="text/css" rel="stylesheet"  href="/d/drive/pc/j/src/classes/admin/moder.css">
    <div id="hContent"></div>
    <div id="hJpgV" class="d-none">
        <div id="viewerClose">
            Закрыть
        </div>
        <img src="/d/drive/pc/i/ld/s.gif" id="hJpg">
    </div>
</div>
{% endblock %}
