.landDlgMgr {
	position: absolute;
	box-shadow: 4px 7px 10px 2px #a4abc4;
}

.landDlgMgr .topBrd {
	background: linear-gradient(to bottom, white, #4588DA, #4588DA);
	padding: 0px 5px;
	border-radius: 4px 4px 0px 0px;
	border: #4588DA solid 2px;
}
.landDlgMgr .bod {
	border: #4588DA 3px solid;
}

.landDlgMgr .topBrd .title{
	color: #FFF;
	margin-left : 10px;
	float: left;
	/* TODO oneline*/
	font-weight: bolder;
	margin-top: 4px;
	max-height: 19px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 400px;
	font-size: 15px;
}

.landDlgMgr .topBrd img{
	float: left;
	width: 16px;
	height: 16px;
	margin-top: 6px;
	/*! border-radius: 10px 10px 10px 10px; */
}
.landDlgMgr .topBrd .fr {
	float: right;
}

.landDlgMgr .topBrd .cf {
	clear: both;
}
.landDlgMgr .topBrd .bCls, .landDlgMgr .topBrd .bMax, .landDlgMgr .topBrd .bMin {
	cursor: pointer;
	width: 16px;
	height: 16px;
	margin-top: 6px;
}


.dbgBg {
	background-color: #f2eee3;
	padding: 5px;
}
