{% extends 'base.html.twig' %}

{% block title %}{{ 'Time manager help'|trans }}{% endblock %}

{% block content %}
<h3>Назначение</h3>
 <div>
     <p>Сервис предназначен для учёта времени, затраченного на ту или иную задачу при разработке программного обеспечения.
         Регулярно добавляя данные о задачах, которые вы выполняете, вы можете потом легко найти,
         сколько времени заняла та или иная задача при разработке.</p>
     <p>Вы можете тегировать выполняемые задачи, например используя в качестве тегов имена технологий.
         Например, подключение формы оплаты Яндекс-Денегами в проекте использующим фреймвёрки
         и в проекте не использующим фреймвёрки может занимать различное время.
         Поэтому вы можете при занесении задачи в систему помечать её тегами, например Symfony, Vuejs.
         При поиске задачи вы можете также указать один или несколько тегов. Теги добавляются по принципу ИЛИ,
         то есть будут показаны все задачи, которые используют хотя бы один их тегов.
     </p>
 </div>
<h3>Интерфейс пользователя</h3>
<div>
    <p>На сайдбаре вы можете видеть три ссылки. Это "Учёт времени", "Экспорт за сутки" и "Справка по Cron Friend".</p>
    <p></p>
    <p></p>
</div>
<h4>Учёт времени</h4>
<h5>Форма добавления задачи</h5>
<div>
    <p>Вся основная работа происходит здесь. Открыв таб добавить задачу вы видите форму добавления.</p>
    <p>В поле "Наименование задачи" очевидно вводится наименование задачи :).</p>
    <p>"Кодовое имя" это более интересное поле. По этому коду вы можете группировать задачи для отчета (подробнее об отчёте смотрите в описании раздела "Экспорт за сутки").
        Например, вы выполняете какую-то крупную задачу, пусть это будет создание Интернет-магазина. Система
    позволяет добавлять в задачи подзадачи (в описываемой форме для этого есть поле "Вложена в задачу").
        Указывая подзадачам один и тот же код вы сможете в отчёте за сутки видеть время потраченное на создание
    Интернет-магазина в целом. Если же вам нужны данные по каждой подзадаче, укажите разные коды и отчёт будет содержать время
    для каждой подзадачи</p>
    <p>Поле "Описание" необязательно для заполнения. Вы можете указать какую-то дополнительную информацию, но в этом обычно нет необходимости для подзадач.</p>
    <p>Поле "Теги" служит для того, чтобы указать особенности задачи. Например, вам впоследствии может
        быть интересно, сколько вы потратили времени на подключение формы оплаты Яндекс-денег на сайте,
        использующим на бэкенде Symfony, а на фронтенде Vuejs.
        В этом случае вы можете указать три тэга: Symfony, Vuejs, Яндекс-Деньги.
    </p>
    <p>Поле "Вложена в задачу". В задаче "Создание Интернет-магазина" наверняка будут вложенные подзадачи,
        например "Вывод списка товаров" или "Подгрузка новых товаров ajax-ом при скролле".
        При создании задач "Вывод списка товаров" или "Подгрузка новых товаров ajax-ом при скролле"
        вы можете указать задачу "Создание Интернет-магазина" как родительскую.
        Удобно использовать кнопку "Клонировать задачу" в списке задач, это позволит создать новую подзадачу со
        всеми тегами задачи-оригинала и уже указанной родительской задачей.
    </p>
    <p>Чекбокс "Сделать данные задачи доступными другим пользователям"
        предназначен для возможности использовать ваши данные при глобальном поиске в системе.
        На данный момент эта возможность не реализована, но планируется.
        В самом деле, вам может быть интересно, сколько затрачивают времени
        на прикручивание формы Яндекс-денег в проекте, использующим Symfony и Vuejs
        (или на какие-то другие действия и другие используемые технологии) другие разработчики.
        Если они установили этот чекбокс при добавлении задачи, вы сможете найти эти данные
        на специальной странице (её пока нет) и сравнить результаты.
        Данные будут показываться анонимно (только имя задачи, теги и время потраченное на разработку).
    </p>
    <p>Кнопка "Сохранить и запустить" - сохраняет задачу и помечает её как выполняемую.</p>
    <p>Кнопка "Сохранить" - соответственно просто запускает задачу.</p>
    <p></p>
    <p></p>
</div>
<h5>Список задач</h5>
<div>
    <p>После созранения задачи вы попадаете на вкладку "Список".</p>
    <p>Вы можете филтровать задачи по имени, коду или тегам, для этого над таблицей с задачами
    есть соответствующие поля ввода. Теги для поиска необходимо сохранять после ввода путем нажатия кнопки "Сохранить".</p>
    <p>Далее описаны кнопки действий с задачей, находящиеся в строке таблицы.</p>
    <p>Кнопка "Редактировать" открывает форму редактирования данных задачи. Кроме того, вы можете видеть общее время, затраченное на задачу.
        Время обновляется после остановки задачи.</p>
    <p>Кнопка "Запустить или остановить задачу" меняет состояние задачи на запущена или остановлена.</p>
    <div class="alert alert-danger"><div class="alert-heading">Важно!</div>
        Для отображения в отчёте необходимо остановить задачу в течении тех же суток, в которые она запущена.
        <p><strong>Иначе данные не будут учтены!</strong></p>
    </div>
    <p>Это сделано ради повышения трудовой дисциплины. Не бывает задач, над которыми программист работает сутками без перерыва.</p>
    <div class="alert alert-warning">
        Если же вы работаете по ночам, вам придётся останавливать задачу перед полуночью и стартовать её заново.
        Автоматическая остановка задач, незавершенных дро полуночи будет добавлена, но пока её нет.
    </div>
    <p>Кнопка "Отчёт по задачи за сутки". Переводит пользователя на страницу "Экспорт за сутки", но в отчёте при этом
    показываются только данные по выбранной задаче.</p>
    <p>Кнопка "Клонировать задачу". При выполнении какой-то масштабной задачи, например разработка сайта Интернет-магазина,
    вы можете создавать вложенные в масштабную задачу подзадачи. Если вы при этом исползуете много тегов,
    неудобно вводить их все заново при создании новой подзадачи и заново указывать задачу, в которую вложенна создаваемая.
    Для этого создана кнопка "Клонировать задачу" - существующая задача открывается в форме так же, как при её редактировании,
    но после её сохранения бкдет создана новая задача. Обычно бывает достаточно отредактировать только наименование задачи.</p>
    <p>Кнопка "Удаление" - очевидно. Неочевидно, что время затраченное на родительскую задачу (если такая существует)
    будет пересчитано только после запуска и остановки другой подзадачи задачи или задачи в которую была вложена
    удалённая.</p>
    <p>Кнопки "Переместить на предыдущую/следующую страницу". Вы можете упорядочивать задачи
        в пределах одной страницы путем перетаскивания строки таблицы. Кнопки на первой и
        последней строках таблицы служат для перемещения записи на другую страницу.</p>
    <p></p>
</div>
    <h4>Экспорт за сутки</h4>
    <div>
        <p>Обычно программисты пишут отчёт о затраченном на задачи времени. Это было так почти в каждой из компаний,
            в которых я удалённо работал с 2011-ого года по 2019-ый год.
            К сожалению, формат отчёта в различных компаниях различен, общего между ними только то,
            что это как правило экселевский файл. Поэтому, данные о задаче выводятся в общем виде, пример на скрине ниже.</p>
        <p class="text-center border border-info"><img src="/i/cronfriendexport.jpg" class="mw-100"></p>
        <p>Максимальное и минимальное время расчитываются следующим образом: 6 минут это одна десятая часа.
        В примере на скриншоте на задачу с кодом crn потрачено 3 часа 29 минут, 6 * 4 = 24, 6 * 5 = 30,
        то есть при округлении вниз на задачу было потрачено 3,4 часа, а при округлении вверх 3,5 часа.
        Соответственно меткой max отмеченно округлённое вверх значение, а меткой min помеченно
        округлённое вниз значение.</p>
    </div>
{% endblock %}
