<form method="post" action="{{ path('phd_operations_delete', {'id': phd_operation.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ phd_operation.id) }}">
    <button class="btn">Delete</button>
</form>
