{% extends 'base.html.twig' %}

{% block title %}New PhdOperations{% endblock %}

{% block body %}
    <h1>Create new PhdOperations</h1>

    {{ include('phd_operations/_form.html.twig') }}

    <a href="{{ path('phd_operations_index') }}">back to list</a>
{% endblock %}
