<div class="alert alert-info">
	<a href="#install">Установи</a> TrollKiller в свой Firefox и очищай свою ленту ответов от троллей самостоятельно.
</div>
<div class="alert alert-success">
	Делись своими блэклистами TrollKiller с друзьями и используй их опыт.
</div>

<h3>Видеообзор</h3>
<div style="max-width:100%">
	<iframe src="https://www.youtube.com/embed/xqagdM4BmNs?ecver=2" width="640" height="360" frameborder="0"
	style="width:100%;" allowfullscreen=""></iframe>
</div>

<p>Наверное, о сайте mail.ru в России знают даже те люди, которые в Интернет всё ещё не выходили никогда.</p>
<p>У mail.ru есть классный сервис вопросов и ответов - ответы@mail.ru.</p>
<p>Если вы пользователь проекта ответы@mail.ru и вам надоели разного рода тролли в ленте вопросов, вам может быть интересен этот скрипт.</p>
<p>В том случае, если вы пользователь Firefox, у вас теперь есть возможность модерировать ленту ответов самостоятельно.</p>
<p>В августе 2019-ого года было замечено довольно много троллей на проекте ответы@mail.ru. Возможно, это было связано с периодом отпусков, но модераторы проекта не достаточно быстро справлялись 
с потоком нечистот, которые производили отдельные тролли.</p>
<p>Возмущённые пользователи иногда даже создавали вопросы с требованиями забанить того или иного тролля,
так как неприятные для любого нормального человека вопросы продолжали висеть в ленте вопросов довольно долго.</p>
<p>Вспомнив, что "яжпрограммист", я написал юзерскрипт, позволяющий в два клика скрыть одиозный контент из ленты вопросов,
при этом ответы и комментарии автора вопроса также скрываются из ленты на всех страницах.</p>
<p>В TrollKiller предусмотрена авторизация для сохранения списка троллей под своеё учётной записью.
Авторизовавшись на другом устройстве вы не увидите на нём вопросы и ответы троллей, которых вы забанили.</p>
<p>Также вы можете подписываться на списки троллей, забаненных другими пользователями TrollKiller.</p>
<p>На странице проекта присутствует рейтинг Топ-10 самых активных троллебойцев, также там есть поиск, используя который 
вы сможете найти по никнейму на mail.ru интересующего вас троллеборца (разумеется в том случае, если троллеборец использует в своих целях именно TrollKiller и авторизован в нём)</p>
<p>Ограничение: userscript на все 100% работает только в Firefox. В Google Chrome под windows установить данный скрипт не удалось совсем,
а в Chrome под Linux установить скрипт удалось, но связь с сервером Troll Killer пока недоступна из-за CSP политики.</p>
<h4 id="install">Установка</h4>
<p>TrollKiller не работает в Firefox сам по себе. Вам сначала нужно установить дополнение для Firefox
<a target="_blank" href="https://addons.mozilla.org/ru/firefox/addon/greasemonkey/">Greasemonkey</a>, а уже потом пройти по ссылке
<a href="http://andryuxa.ru/d/tk.user.js" target="_blank">TrollKiller</a>. </p>

<ol>
	<li v-if="isNotFirefox"><a class="btn btn-primary mt-1" href="https://www.mozilla.org/ru/firefox/download/thanks/" target="_blank">Скачать Firefox</a></li>
	<li><a class="btn btn-primary mt-1" href="https://addons.mozilla.org/ru/firefox/addon/greasemonkey/" target="_blank">Страница установки Greasemonkey</a></li>
	<li><a class="btn btn-primary mt-1" href="http://andryuxa.ru/d/tk.user.js" target="_blank">Страница установки TrollKiller</a></li>
	<li><a class="btn btn-primary mt-1" href="https://otvet.mail.ru" target="_blank">Вернуться на ответы@mail.ru</a></li>
</ol>
<p></p>
