<p>&nbsp;</p>
<h3>ƒл€ чего вам регистраци€ в TrollKiller - три причины</h3>					
<p>&nbsp;</p>
<ul>
	<li class="mb-2">≈сли вы используете несколько устройств, регистраци€ даЄт вам
	 возможность авторизовавшись в вашем аккаунте на сайте andryuxa.ru не видеть на всех устройствах вопросы и ответы троллей,
	 которых вы уже забанили.</li>
	 
	 <li class="mb-2">≈сли ваши дети сид€т на ответах@mail.ru вы можете установить TrollKiller 
		в браузер на смартфоне вашего ребЄнка и авторизоватьс€ в вашем аккаунте - 
		тогда вы сможете удал€ть вопросы троллей и знать, что со смартфона вашего ребЄнка они тоже не видны.</li>
		
	 <li class="mb-2">¬ы можете смотреть, каких пользователей бан€т другие участники проекта TrollKiller и использовать списки 
	 забаненных ими троллей.
	 Ёто значит, что если вы нажмЄте кнопку &laquo;»спользовать опыт&raquo; р€дом с именем активного участника TrollKiller,
	 вы не будете видеть в ленте ответы@mail.ru забаненных этими пользовател€ми троллей.</li>
</ul>

<p>*–егистраци€ в TrollKiller и регистраци€ на сайте andryuxa.ru - это одна и та же регистраци€.</p>

<p>
	<a class="btn btn-primary d-inline-block mb-1" href="/portfolio/web/userscripts/trollkiller/">”знать больше о TrollKiller</a>
	<a id="reglink" class="btn btn-success d-inline-block mb-1" href="/p/signup/">«арегистрироватьс€ в TrollKiller</a>
	<a class="btn btn-primary" href="https://otvet.mail.ru" >¬ернутьс€ на ответы@mail.ru</a>
</p>

<p class="text-center"></p>
