<li class="w100 border-bottom pb-2 mb-2">
	<div class="media">
		<img src="{AVATAR}" class="f-left d-inline-block mr-2 rounded-circle" style="max-width:45px;max-height:45px;">
		<div class="media-body">
			<div class="d-inline-block mr-2 float-left">
				<div>{NAME}</div>
				<div>
					{QNT}
					{IMGRATING}
				</div>
			</div>
			<div class="float-right d-inline-block mr-2">
				<a href="/portfolio/web/userscripts/trollkiller/user/{UID}/">Список забаненых троллей</a>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</li>
