<div class="alert alert-danger">
	<p><strong>¬нимание!</strong> —траница может модержать ненормативную лексику, так как многие тролли используют еЄ в своих никнеймах. 
	ѕереход в профиль тролл€ на ответах@mail.ru также иногда может привести к просмотру гр€зного контента, так как
	модераторы ќтветов не всегда успевают забанить тролл€ достаточно быстро.</p>
</div>

<div class="alert alert-info">
	<p>≈сли вы пользователь TrollKiller и вам не нрав€тс€ вопросы и ответы пользователей, забаненные этим пользователем, вы можете нажать на кнопку &laquo;»спользовать этот опыт&raquo;,
	тогда вы не будете видеть ответы и вопросы троллей, которых банит {NAME}.
	</p>
</div>
<p class="text-center" id="relApp">
	<button class="btn btn-primary" >»спользовать этот опыт</button>
</p>
