body {
	padding: 0px;
	
	background-color:#F0F0F0;
	font-family:ubuntu,geneva,arial;
}

form {
	/*min-width: 600px;*/
	margin:    0px auto;
	text-align: center;
	line-height:40px;
	/*border:solid red 1px;*/
	margin-bottom:15px;
}

input[type=search],input[type=text],input[type=email],input[type=date],input[type=submit],input[type=password] {
	height:30px;
	vertical-align:middle;
}
input[type=search],input[type=text],input[type=email],input[type=date],input[type=password] {
	width:67%;
	max-width:400px;
	font-size:20px;
}
input[type=submit], .pbtn {
	height:38px;
	background-color:#DACCB9;
	border: 1px solid #DACCB9;
	cursor:pointer;
}
.wordtext {
	background-color:#FFF;
	margin-bottom:15px;
	padding:8px;
}
.main {
	margin: 0px auto;
	/*min-width:  1000px;*/
}
header {
	text-align:center;
}
.bg-danger {
	background-color:#F1B1BD;
	color:#ad1d1d;
}
.success {
	background-color:#84ffa2;
	color:#195919;
}
.bg-danger,.success {
	text-align:center;
}
.hide {
	display:none;
}


/** Login Form */
.loginBtn {
	margin-top:34px;
}
#registerNowBtn,.loginBtn {
	min-width:158px;
	width:67%;
}
/** /loginBtn */

/** ViewText */
.postTitle {
    border-bottom: dashed 1px gray;
    padding-bottom:6px;
}
#nextPostBtn, #nextPostBtnBtm, #editPostBtn,#editPostBtnBtm,.postTitle {
    margin-top: 5px;
}
/** /ViewText */

p{
	line-height:24px;
	text-align:center;
}
/**  */
	.pbtn {
		padding:10px;
		min-width:300px;
		color:#7b7675;
	}
/** / */
.roundBtn {
	background-color: green;
	font-weight: bold;
	color: white;
	border-radius: 18px;
	border: green 1px solid;
	padding: 6px 13px;
	cursor: pointer;
	font-size: 19px;
}


a{
	color:green;
}
li{list-style-type:none; margin-bottom:20px;}
