html, body {
	margin:0;
	padding:0;
	height:99.9%;
}
.h100 {
	min-height:100%;
}
.text-center {
	text-align:center;
}
.mw-1000px {
	max-width: 1000px;
}
.mw-320px {
	max-width: 320px;
}
.mx-auto {
	margin: 0 auto;
}
.border-blue {
	border: #5881c1 1px solid;
}
.title {
	min-height: 20px;
	line-height: 28px;
	background-color: #5881c1;
	color:white;
	font-weight:bold;
}
.val {
	border-bottom: 1px solid black;
}
