* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
} 

body {
	background-color:#000;
	padding:0px;
	margin:0px;
	font-family:arial;
}
#menuBar {
	background-color:#000;
	color:#fff;
}
.menuItem {
	border-bottom: solid 1px #fff;
	text-align: left;
	padding-left:2em;
	font-weight: bold;
	min-height: 40px;
	vertical-align: middle;
	line-height: 40px;
}
#readerContent p {
	line-height: 1.5em;
}
#colorSettingWnd p {
	line-height: 1.5em;
	font-weight: bold;
}
