<!DOCTYPE html>
<html xml:lang="ru" lang="ru">
	<head>
		<meta charset="WINDOWS-1251">
		<meta name="viewport" content="	initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,target-densitydpi=device-dpi,	width=device-width,height=device-height,shrink-to-fit=no"><!--DESCRIPTION --><!--KEYWORDS --><!--OGTITLE --><!--OGDESCRIPTION --><!--OGIMAGE -->
		<title>{TITLE} -|- Сайт Андрея</title>
		<link rel="stylesheet" type="text/css" href="/s/bootstrap4.2.1.min.css">
		<!--link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous"-->
		<link rel="stylesheet" href="/s/fontawesome5/all.css" >
		<link rel="stylesheet" type="text/css" href="/s/app.css">
		<link rel="stylesheet" type="text/css" href="/j/prism/0.css">
		<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" >
		<link rel="canonical" href="https://andryuxa.ru{CANONICAL_URL}"/>
	</head>
	<body>
		<div class="container u-full-width" id="ktapp">
			<header>
				<div class="row">
					<div class="col">
						<div class="text-left u-mainhead">
							<h1>Troll Killer</h1>
						</div>
					</div>
				</div>
			</header>
			<div>&nbsp;</div>
			
			<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
			  <a class="navbar-brand" href="/portfolio/web/userscripts/trollkiller/">Troll Killer</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>

			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
				  <li class="nav-item active">
					<a class="nav-link" href="/portfolio/web/userscripts/trollkiller/signup/">Регистрация</a>
				  </li>
				  <li class="nav-item active">
					<a class="nav-link" href="javascript:alert('Сейчас загрузимся...');">Вход</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="/portfolio/web/userscripts/trollkiller/list/">Топ-10</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="/">Сайт автора</a>
				  </li>
				</ul>
			  </div>
			</nav>
			
			{BC}
			
			<div>&nbsp;</div>
			<div class="row">
				<div class="col-12 col-lg-8">
					<article>
						<h2>{HEADING}</h2>
						<time datetime="{DATEENG}" class="d-block text-right text-muted small">{DATERUS}</time>
						{ALERT}
						{CONTENT}
					</article>
				</div>
				<div class="col-12 col-lg-4  u-right-side">
					<ul class="list-group text-center">
						<li class="list-group-item">
							<div><img src="/i/t.jpg"  alt="Glavtorgi.ru"></div>
							<div><a target="_blank" href="https://glavtorgi.ru">Главторги.ру - альтернативная доска объявлений</a><br>
								<p>
									<small>Ваши объявления движутся только вверх</small>
								</p>
							</div>
						</li>
						<li class="list-group-item">
							<div><img src="/i/g.jpg"  alt="Gazel.me"></div>
							<div><a target="_blank" href="http://gazel.me">Сайт по заказу газелей для ваших переездов</a><br>
								<p>
									<small>
									</small>
								</p>
							</div>
						</li>
						<li class="list-group-item">
							<div><img src="/i/fx.jpg" alt="Fastxampp"></div>
							<div> <!-- style="border-top-width: 0px;" -->
								<a href="//fastxampp.org" target="_blank">Утилита для удобного добавления сайтов на localhost</a>
							</div>
						</li> 
						<li class="list-group-item">
							<div><img src="/i/L.jpg"  alt="cordova online"></div>
							<div><a target="_blank" href="http://fastxampp.org/compile_android_online_apache_cordova/">Компиляция html5 приложений cordova для android онлайн</a><br>
								<p>
									<small>
									</small>
								</p>
							</div>
						</li>
						<li class="list-group-item">
							<div>
								<img src="/i/php2js.jpg" title="" alt="">
							</div>
							<div>
								<a href="http://php2js.ru/" target="_blank">Транслятор php кода в код javascript</a><br>
							</div>
						</li>
						<li class="list-group-item">
							<div><img src="/i/rc.jpg" alt="RedCafe"></div>
							<div><a href="http://redcafe.ru/">Программа для создания выкроек стильной одежды</a></div>
							<p>
								<small>Мой вклад - оффлайн-версия программы для экспорта выкроек в pdf и dxf</small></div>
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
			<div class="footer bg-dark text-light">
				
					<div class="container">
						<div class="row">
							<div class="col">
								&copy; Андрей Ламзин
							</div>
						</div>
					</div>
				
			</div>
		
        <!--script src="/j/jquery-3.3.1.slim.min.js"></script--><!-- Try incllude in kt.min.js -->
        <script src="/j/sources/trollkiller/tk.js"></script>
        <script src="/j/bootstrap4.2.1.min.js"></script>
        <script src="/j/popper1.14.6.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/s/bootstrap4_sticky_footer.css">
	</body>
</html>
