.lformbg {
  background-image: url('../i/wp.jpg');
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  display: flex;
  font-family: Arial;
}

.lformw {
  height: 100%;
  width: 100%;
  display: flex;
  z-index: 5;
  position:fixed;
}
.lform input[type=email],
.lform input[type=text],
.lform input[type=password]{
	height: 32px;
	margin: auto;
}
.emailRE {
	width:78%;
}
h3 {
	display:none;
}
.lform {
  background: rgba(104, 139, 183, 0.75);
  margin: auto;
  border-radius: 10px 10px 0px 0px;
  color: white;
  box-shadow: 0px 0px 10px 0px #2a619b;
  position: relative;
}

.qenter {
  width: 394px;
  min-height: 250px;
  padding-bottom: 14px;
}

.regf {
  width: 640px;
  height: 298px;
}

.regTitle {
	padding: 10px;
  border-bottom: 2px solid white;
  margin-bottom: 10px;
}
.ma {
	margin:auto;
}
.df {
	display:flex;
}
.regchb {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 25px;
}
.regchb a{
	color: #23243c;
	font-size: 15px;
}
.iwrapper {
  display: flex;
  align-items: normal;
  padding: 0px 10px;
}
.iwrapper-lp {
	display: flex;
	justify-content: center;
	margin-top: 0.6rem;
}
.iwrapper img, .iwrapper-lp img{
	height: 40px;
	/*! width: 40px; */
}
.cbwrapper {margin-top: 10px;}
.cbwrapper-lp {
	margin-top: 10px;
	justify-content: end;
	display: flex;
}
.tl {}
.ml-2 {
	margin-left: 0.5rem;
}
.rel {
	position:relative;
}
.abs {
	position:absolute;
}
.arial {
	font-family: arial;
}

.regbtnplace {
  border-top: 2px solid white;
  padding-top: 10px;
  display: flex;
  justify-content: right;
}

.regbtnplace input{
  height: 32px;
  margin-right: 10px;
  background-color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px #000;
  background: linear-gradient(to top, #0064ff, white,white,white,white, white, white, white, #0064ff);
}

.regbtnplace input:active{
	background: linear-gradient(to top, #0064ff, white,white,white,white,white, #0064ff);
}

.regbtnplace input[disabled=disabled]:active{
	background: linear-gradient(to top, #0064ff, white,white,white,white, white, white, white, #0064ff);
}

img.dogmsg {
	width: 200px;
	height: 73px;
}
#hMsg {
	color: white;
	top: 7px;
	left: 65px;
	display: block;
	width: 135px;
	height: 73px;
	font-family: arial;
	font-size: 14px;
	line-height: 17px;
}
#lbaloon {
	top: -73px;
	left: 131px;
	display: none;
}

#lbaloon, #rbaloon, #rsbaloon, #lpbaloon {
	z-index: 6;
}

.password {
	width: 340px;
}
.username {
	width: 300px;
}


.twocol {
	display: flex;
}

.lcol {
	border-right: 1px solid white;
	padding-right: 12px;
}

.rcol {
	/*! border-left: 1px solid red; */
	margin-left: 8px;
}


.password-r {
	width: 303px;
	margin-bottom: 1px!important;
}
.username-r {
	width: 262px;
	margin-bottom: 1px!important;
}
.email-r {
	width:262px;
}

.username-r-name {
	margin-top: 1px!important;
}

.reset-spacer {
	height:86px;
}
.hSendedEmail {
  display: flex;
  background-color: #91a2b7;
  padding: 10px;
  height: 14px;
  margin-left: 1px;
  border: 3px solid #ccdbee;
  border-radius: 8px;
  color: white;
  margin-top: 1px;
  align-items: center;
}

.hSendedEmail a{
	color: /*#d5e7ff*/#23243c;
}

.gbox {
  text-align: center;
  background-color: #ADE6AD;
  height: 37px;
  color: #4e6c46;
  line-height: 37px;
  border-radius: 4px;
  margin-top: 9px;
  display: none;
}
