#<FilesMatch ".(flv|gif|jpg|jpeg|png|ico|swf|js|css|pdf|mp3)$">
#  Header set Cache-Control "max-age=2592000"
#</FilesMatch>

addDefaultCharset UTF-8
php_value default_charset "UTF-8"


AddType text/cache-manifest .appcache
<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresByType text/cache-manifest "access plus 0 seconds"
</IfModule>

<FilesMatch ".(mp3)$">
  Header set Cache-Control "max-age=2592000"
</FilesMatch>
