{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block content %}
{{ form_start(form, {'action': path('saveprofiledata')}) }}
{{ form_widget(form) }}
	<p class="text-right">
		<button type="submit" class="btn btn-primary">{{ 'Save'|trans }}</button>
	</p>
{{ form_end(form) }}

{% endblock %}
