<li class="list-group-item mb-4 border-info">
	<img class="u-img-left" src="{logo}">
	<h3>{heading}</h3>
	<div>
		{shortdesc}
	</div>
	<div class="clearfix"></div>
	
	
	<div class="border-top border-secondary pt-3 mt-2 text-secondary">
		<div class="float-left d-inline-block mr-5 ">
			<i data-id="8" class="fas fa-eye fa-sm"></i>
			Просмотров: <span class="badge badge-light">{rating}</span>
		</div>
		<div class="float-left "> 
			<i data-id="8" class="fas fa-clock fa-sm"></i> 
			Обновлено: <span class="badge badge-light">{updated_at}</span>
		</div>
		<div class="clearfix"></div>
	</div>
</li>
