html, body {
	background-color: #000;
}

body.night {
	background-color: #000;
	color: aqua;
}

.scr, .h, .hide, h3 {
	display: none;
}

.fl {
	float:left;
}

.fr {
	float:right;
}

.cf {
	clear: both;
}







